@import "tailwindcss";

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #f5f5f5;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center; /* центрує по вертикалі */
  text-align: center;
}

p {
  color: #333;
}

h1 {
  color: #333;
}

.game-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #920081;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s ease;
}

.game-button:hover {
  background-color: #720065;
  color: white;
}

.game-button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}
